{% extends 'basic.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/startPages.css'%}" />
    <section>
      <div id="main">
        <div id="summary">
          <h1 class="project_title">Project Universe</h1>
        <h2 class="project_title">
          Project Universe는 각종 프로젝트 진행을 위한 팀을 구성하는데 도움을 주는 웹서비스입니다.
          원하는 카테고리를 선택하고, 마음에 드는 은하계를 골라 프로젝트의 상세한 정보를 확인해보세요!
        </h2>
        <p class="project_title">
          <a href="{% url 'login' %}">
            <button><span>시작하기</span></button>
          </a>
        </p>
        </div>
        <div id="astronaut">
          <img class="astronaut" src="{% static 'images/astronaut.png' %}">
        </div>
      </div>
    </section>
{% endblock %}