{% extends 'basic.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/loginPage.css'%}" />

<section class="container">
  <article id="loginPage">
    <div id="loginWrap">
      <h2>Log-in</h2>

      <div id="login_sns">
        <!--아이콘 적용 예정-->
        <a href=""><i id="fab fa-instagram"></i></a>
        <a href=""><i id="fab fa-facebook-f"></i></a>
        <a href=""><i id="fab fa-twitter"></i></a>
      </div>

      <div id="login_id">
        <h4>E-mail</h4>
        <input type="email" name="" id="" placeholder="Email" />
      </div>

      <div id="login_pw">
        <h4>Password</h4>
        <input type="password" name="" id="" placeholder="Password" />
      </div>

      <div id="login_etc">
        <div id="checkbox">
          <input type="checkbox" name="" id="" /> Remember Me?
        </div>

        <div id="forgot_pw">
          <a href="">Forgot Password?</a>
        </div>
      </div>

      <div id="submit">
        <a href="main_page.html"><input type="submit" value="submit" /></a>
      </div>
    </div>
  </article>
</section>
{% endblock %}
