{% extends 'basic.html' %} 
{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/signUpPage.css'%}" />
    <section class="container">
        <form action="{% url 'signUp' %}" method="POST">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <fieldset id ="logo">  <!--임시 로고-->
                로고
            </fieldset>
            <!--username-->
            <fieldset id="customer"> 
                <label for="customer_name">email </label>
                <input type="email"  name="username" id="customer_name" required>
            </fieldset>
        
            <fieldset id="password">
                <label for="customer_password">비밀번호 </label>
                <input type="password" name="password1" id="customer_password" required>
            </fieldset>

            <fieldset id="password_check" >
                <label for="customer_password_check">비밀번호 재확인</label>
                <input type="password" name="password2" id="customer_password_check" required>
            </fieldset>

            <fieldset id="nickname">
                <label for="nickname">이름 </label>
                <input type="text" name="nickname" id="name" required>
            </fieldset>

            <fieldset id="address">
                <label for="address">거주지정보</label>
                <input type="text" name="address" id="address" placeholder="선택입력" required>
            </fieldset>

            <fieldset id="university">
                <label for="university">대학정보</label>
                <input type="text" name="university" id="university" placeholder="선택입력" required>
            </fieldset>

            <fieldset>
                <legend>해쉬테그1</legend>
                <select name="hashTag1" id="hashTag1">
                    <option value="None" selected="selected">x</option>
                    <option value="SW" >SW</option>
                    <option value="Mobile" >Mobile</option>
                    <option value="HW" >HW</option>
                </select>
                <legend>해쉬테그2</legend>
                <select name="hashTag2" id="hashTag2">
                    <option value="None" selected="selected">x</option>
                    <option value="SW" >SW</option>
                    <option value="Mobile" >Mobile</option>
                    <option value="HW" >HW</option>
                </select>
                <legend>해쉬테그3</legend>
                <select name="hashTag3" id="hashTag3">
                    <option value="" selected="selected">x</option>
                    <option value="SW" >SW</option>
                    <option value="Mobile" >Mobile</option>
                    <option value="HW" >HW</option>
                </select>
            </fieldset>


            <div id="register">
            <button id="submit" style="width: 100%;">가입하기</button>
            </div>
        </form>        
    </section>
    {% endblock %}
