<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>프로젝트 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='createPostForm.html'"
                    th:onclick="|location.href='@{/post/create}'|" type="button">프로젝트 생성하기</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <tbody>
            <tr th:each="post : ${postList}">
                <td><span th:text="${post.id}">프로젝트 ID</span></td>
                <td><a href="postDetail.html" th:href="@{|/post/${post.id}|}" th:text="${post.title}">프로젝트 제목</a></td>
                <td><a href="postDetail.html" th:href="@{|/post/${post.id}|}" th:text="${post.body}">우리 프로젝트는 ...</a></td>
                <td th:text="${post.writer}">Lee</td>
                <td th:text="${post.creationDate}">2021-12-31</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>